.container
  .login-wrap
    wiz-component-header()

    //- 상단 영역
    .top-area
      .top-left
        .badge-row
          span.server-badge(*ngIf="serverName") {{ serverName }}
          span.class-badge(*ngIf="className") {{ className }}

        h1.title
          | {{ titleName }}
          br
          | Note

        p.subtitle 메뉴를 선택해주세요.

    .menu-buttons
      button.menu-btn(*ngFor="let btn of menuButtons",
        '(click)'="navigate(btn.path)")
        span.menu-icon {{ btn.icon }}
        span.menu-label {{ btn.label }}
